[class*="col-"] {
    padding: 5px;
}
a {
    text-decoration: none;
    color: #c1cff1;
    
}
body{
    background-color: #272727;
    color: #ffffff;
}
.board{
    padding: 64px 80px;
    transform: rotate(-90deg);
}
.col-tile{
    transform: rotate(90deg);
    font-size: 150%;
    font-weight: Bold;
    display: flex;
    max-width: 250px;
    max-height: 250px;
    text-align: center;
    border: #000 solid 2px;
    justify-content: center;
    align-items: center;
}
.col-tile:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}
/* .col-tile>*{
    position: absolute;
    justify-self: center;
    margin-top: calc(-50% - 1.25rem/2);
    top: 50%;
    left: 0;
    bottom: 50%;
    right: 0;
} */
.col-tile:hover{
    scale: 125%;
    z-index: 5;
}
.tile-black{
    background-color: #000;
    color: #fff;
}.tile-white{
    background-color: #fff;
    color: #000;
}
@media (max-width: 992px){   
    

}



